server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/node_modules
server/.env
server/.DS_Store
server/__tests__/results
.vscode/

#dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# production
ui/build

# misc
ui/.DS_Store
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local

ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*